.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;    
}

.social-icons a{
    text-decoration: none;
    font-size: 40px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
    cursor: pointer;
}

.social-icons .pop{
    position: relative;
    display: inline-block;

    margin: 4px 10px 0px 160px;
    padding: 10px 16px;

    background: #fff;
    color: #ff004f;

    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);

    font-size: 14px;
    width: fit-content;
}

/* triangle above */
.social-icons .pop::after{
    content: "";
    position: absolute;

    top: -8px;
    left: 6px;

    width: 0;
    height: 0;

    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
}

.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.btn.btn2{
    display: inline-block;
    background: #262626;
    margin-top: 30%;
    color: #fff;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.btn{
    display: block;
    margin-top: 9vh;
    align-self: center;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;

    padding: 20px 40px;
    font-size: 24px;
    margin: 20px auto;
    cursor: pointer;
}

.btn:hover{
    background: #ff004f;
    border-color: #ff004f;
    color: #fff;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact{
    padding: 10px 10%;
}

@media (max-width: 900px) {
 .contact-left{ flex-basis: 100%; max-width: 320px; margin: 0 auto;}
 .contact-right { flex-basis: 100%; padding-top: 1rem;}
 form .btn2{align-items: center;}
}


@media (max-width: 480px) {
  .contact-left{
    flex-basis: 100%;
    max-width: 320px;
    margin: 0 auto;
  }

  form {
    flex-basis: 100%;
    padding-top: 1rem;
  }

  form .btn2{
    display: block;
    margin: 20px auto;
  }
}

