<section id="about">
    <div class="container">
        <div class="row">
            <div class="reveal-left" id="about-col-1">
                <img src="/assets/user.jpg">
            </div>

            <div class="reveal-right" id="about-col-2">
                <h1 class="sub-title1">About Me.</h1>

                <p>
                    I'm a curious coder with a knack for problem-solving and a passion for technology's impact on our lives.
                    A good listener, I value learning from others and have a broad creative outlook.
                    With a natural leadership mindset, I also enjoy managing projects and believe in inclusive, kind communities.
                </p>

                <div class="tab-titles">
                    <p class="tab-links"
                       [class.active-link]="activeTab === 'skills'"
                       (click)="opentab('skills')">
                        Skills
                    </p>

                    <p class="tab-links"
                       [class.active-link]="activeTab === 'education'"
                       (click)="opentab('education')">
                        Education
                    </p>

                    <p class="tab-links"
                       [class.active-link]="activeTab === 'experience'"
                       (click)="opentab('experience')">
                        Experience
                    </p>
                </div>

                <div class="tab-contents"
                     id="skills"
                     [class.active-tab]="activeTab === 'skills'">
                    <ul>
                        <li><span>AI</span><br>Automizing Process</li>
                        <li><span>ML</span><br>Utilizing ML Algorithm</li>
                        <li><span>Data Analytics</span><br>Handling Big Data</li>
                        <li><span>Web Development</span><br>Web App Development</li>
                        <li><span>Database Handling</span><br>Database Handling & Connectivity</li>
                    </ul>
                </div>

                <div class="tab-contents"
                     id="education"
                     [class.active-tab]="activeTab === 'education'">
                    <ul>
                        <li><span>SSC</span><br>at A.E.S High School</li>
                        <li><span>HSC</span><br>at Elphinstone College</li>
                        <li><span>B.E. in AI&DS</span><br>at Terna Engineering College</li>
                    </ul>
                </div>

                <div class="tab-contents"
                     id="experience"
                     [class.active-tab]="activeTab === 'experience'">
                    <ul>
                        <li><span>FINTELLIX (Associate Consultant)</span><br>Assisting in end-to-end data pipeline handling and delivering actionable insights across financial and risk domains. Working on systems like ADP, NPA, and CIMS, contributing to data-driven reporting, risk assessment, and process optimization using my AI & Data Science background.

 </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>